<% include partials/header %>
<link rel="stylesheet" href="css/style.css">
</head>
<% include partials/body %>
<form action="/forgot" method="post">
	<script>
	function myFunction() {
    alert("New Password has been sent to your Mail!");
	}
</script>

 </script>
	<div class="container">
		<div class="materialContainer">
			<div class="box">
			<div class="title">Password Reset</div>
			<div class="input">
				<label for="username">Username</label>
				<input type="text" name="username" id="username">
				<span class="spin"></span>
			</div>
			<div class="input">
				<label for="email">Email</label>
				<input type="email" name="email" id="email">
				<span class="spin"></span>
			</div>
			
			<div class="button login">
					<button onclick="myFunction()"><span>Submit</span> <i class="fa fa-check"></i></button>
				</div>
			<a href="/login" class="pass-forgot"><b>Login</b></a>
			<a href="logout" class="pass-forgot"><b>Logout</b></a>

		</div>
	</div>
</div>
</form>
<% include partials/footer %>